tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
*.7z
*.tar
*.gz
*.xz
data
nvim_self/share
nvim_self/app/bin
nvim_self/app/pkg
tmux/plugins
nvim_self/nvim/dashboard
nvim_self/nvim/luac
nvim_self/nvim/gentags.nvim
nvim_self/cache
